.did{
    background-color: #4d4d4d;
}

.ded{
background-color: black;
}

.par{
position: relative;
}

.btn-menu{
    background:linear-gradient(180deg,#19a5af,#000000)
}

a:hover {
    color: #acc711;
}

.btn-menu.active{
    background:linear-gradient(180deg,#16deeb,#000000)
}

.color{
    color: white;
    font-family: 18pt 'Oswald', sans-serif;
}

.btn-container{
    background: black;
}

.logo{
    height: 120px;
    width: 200px;
    padding: 5px;
    margin: 5px;
}

.btn{
    height: 35px;
    width: 185px;
}

h5{
    color:rgb(255, 255, 255);
}

.hit{
    height: 150px;
    width: 225px;
}

.hit2{
    height: 150px;
    width: 350px;
    color: white;
    font-family: jura;
}

.hit3{
    height: 150px;
    width: 425px;
    color: white;
    font-family: jura;
}

.market{
    height: 150px;
    width: 235px;
    color: white;
}

.fot{
    height: 6%;
    width: 6%;
    margin: auto;
}

.text{
    height: auto;
    width: auto;
    color: white;
    font-family: jura;
    text-align: right;
    padding-bottom: 15px;
}

.img{
    float:left;
    width: 623px;
    height: 370px;
}

h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: jura;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.player{
    width: 205px;
    height: 200px;
}

.imge{
    float:left;
    width: 623px;
    height: 390px;
}

.dead{
    width: 400px;
    height: 200px;
}

.l{
    margin-top: 30px;
}

.ll{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:30px ;
    margin-right: 30px;
}

.lll{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:30px ;
    margin-right: 30px;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.left{
    margin-left: auto;
}

.f1{
    position: absolute;
    bottom: -10px;
    left: 10%;
    width: 80%;
}

.row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.menu{
    position: fixed;
    right: 10px;
    top: 90%;
    padding: 10px;
    background-color: white;
    border: 1px solid #333;
}

.text{
    height: 300px;
}